.chatPage {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  height: 100vh;

  .chatHeader {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    background: #4CAF50;

    h1, .controls {
      display: flex;
      margin: 0;
    }

    h1 {
      display: flex;
      padding: 0;
      flex-grow: 1;
      font-weight: 600;
      color: #ffffff;
    }

    .logoutButton {
      border: none;
      color: #fff;
      background: transparent;
      cursor: pointer;
    }

    .logoutButton:hover {
      color: #fff;
    }
  }

  .chatBody {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    border: 1px solid #dfdfdf;
    background: #fff;

    .userListColumn {
      display: flex;
      flex-grow: 2;
      max-height: 100%;
      max-width: 30%;
      overflow-y: scroll;
      border-right: 1px solid #dfdfdf;
    }

    .chatViewColumn {
      display: flex;
      flex-grow: 5;
      flex-direction: column;

      .messageListView {
        display: flex;
        flex-grow: 4;
        max-height: 80%;
        overflow-y: scroll;
      }

      .messageInputView {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        max-height: 20%;
        padding: 0.4rem;
        border-top: 1px solid #dfdfdf;
      }
    }

  }

}

