.loginPage {
  max-width: 30em;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  .appNameHolder {
    padding: 2em 0;
    .appName {
      color: #FFC107;
      font-weight: 600;
      font-size: 4em;
    }
  }


  .loginForm {
    .usernameInput {
      font-size: 3em;
      border: none;
      border-bottom: 1px solid #FFC107;
      background: transparent;
      outline: none;
      color: #212121;
    }

    .usernameInput::placeholder {
      color: #BDBDBD;
    }

    .submitLoginButton {
      display: none;
    }
  }

  .errorMessage {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 0;
    text-align: center;
    color: orangered;
  }

  .usernameFormatDescription {
    @extend .errorMessage;
    color: #000;
    text-align: left;
  }

}